.form--container {
    color: black;
    font-weight: 800;
    border: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-left: 10%;
    /*margin-bottom: 10%;*/
    max-width: 500px;
}

.form--edit {
    margin-left: 0;
    max-width: var(--width-split-item);
    padding-right: var(--padding-garden-item);
}

/* form file upload field styling */
input.fileUpload {
    margin-top: 2px;
    padding: 5px 15px 5px 15px;
    border: none;
    width: 100%;
    color: #22333B;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

input[type=file]::file-selector-button {
    border: 1px solid black;
    border-radius: 5px;
    padding: .2em .4em;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

input[type=file]::file-selector-button:hover {
    background-color: #ececec;
    border: 2px solid black;
}