.FlexContainer {
    max-width: var(--max-width);
    padding: var(--padding-container);
    box-sizing: border-box;
    margin: var(--gap-items) auto var(--gap-items) auto;
    /*margin-right: auto;*/
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
    /*margin-top: var(--gap-items);*/
    /*margin-bottom: var(--gap-items);*/
}

.FlexContainer--margin {
    margin: 100px;
}

.FlexContainer__home {
    align-items: center;
    justify-content: flex-start;
    height: var(--full-height);
    margin-top: 0;
    margin-bottom: 0;
}

.FlexContainer__image-container--profile {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

/* Flex container split into two items */
.FlexContainer__white-split {
    justify-content: space-between;
    align-items: center;
    gap: 0 var(--gap-items);
}

/* Flex container centered */
.FlexContainer__white-centered {
    justify-content: center;
    gap: 0 var(--gap-items);
}

.FlexContainer__admin {
    margin-top: 0;
    padding: 0;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.FlexContainer__button-row {
    width: var(--full-width);
    justify-content: center;
    gap: 0 var(--gap-items);
    /*padding: var(--gap-items) 0 var(--gap-items) 0;*/
}

.FlexContainer__status-row {
    width: var(--full-width);
    justify-content: space-between;
    gap: 0 var(--gap-items);
    padding: 0;
    margin: var(--gap-garden-items) 0 0 0;
    align-items: center;
}

.FlexContainer__edit {
    gap: 0 0;
}

.FlexContainer__button-overview {
    width: var(--full-width);
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 var(--gap-items);
    margin-top: var(--space-medium);
    /*padding: var(--gap-items) 0 var(--gap-items) 0;*/
}

.FlexContainer__button-admin {
    width: var(--full-width);
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: var(--space-small) 0 0 0;
}
