.nav-button {
    border: none;
    color: #F1F1EF;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    margin: 5px 10px 5px 10px
}

.nav-button:hover, .nav-button:focus {
    color: #CD5C5C;
}

/*.subnav-bar {*/
/*    background-color: #F1F1EF;*/
/*    overflow: hidden;*/
/*}*/

/*.subnav-content {*/
/*    color: #22333B;*/
/*}*/