.button {
    min-width: 300px;
    max-width: 400px;
    background-color: var(--dark-blue);
    color: var(--white);
    border: none;
    border-radius: 30px;
    padding: 25px 25px 25px 25px;
    font-size: 20px;
    box-shadow: var(--box-shadow);
    /*border: var(--border-small);*/
}

.button--top {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--red);
}

.button--bottom {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark-blue);
}

.button--red {
    background-color: var(--red);
    margin-top: 10px;
    padding: 15px 15px 15px 15px;
}

.button--dark {
    background-color: var(--dark-blue);
    margin-top: 10px;
    padding: 15px 15px 15px 15px;
}

.button--top-split {
    display: block;
    position: relative;
    top: -95px;
}

.button--bottom-split, .button--bottom-centered {
    display: block;
    position: relative;
    bottom: -95px;
}

.button--top-centered {
    display: block;
    position: relative;
    top: -55px;
}

.button:hover {
    cursor: pointer;
}

.button--red:hover {
    color: white;
    background-color: #DE7171;
}

.button--dark:hover, .button--bottom:hover {
    color: white;
    background-color: #37525E;
}

.button__status {
    border: none;
    border-radius: var(--border-radius);
    padding: 15px;
    background-color: var(--lightgrey);
    width: 200px;
    color: var(--white);
    font-size: 1rem;
}

.button__status--Open {
    background-color: var(--yellow);
    color: black;
}

.button__status--Actief {
    background-color: var(--green);
}

.button__status--Inactief {
    background-color: var(--red);
}

.button__status--Afgerond {
    background-color: var(--dark-blue);
}

.button--form {
    margin-bottom: var(--gap-items);
}

.button--admin {
    font-size: 0.9rem;
    padding: 15px;
    background-color: var(--lightgrey);
    color: var(--dark-blue);
}

.button--profile {
    font-size: 0.9rem;
    padding: 15px;
}

.button--profile:active {
    background-color: #37525E;
}