.button {
    width: auto;
    background-color: #22333B;
    color: #F1F1EF;
    border: none;
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
    font-size: 18px;
    margin: 10px 0 10px 0;
}

.button--red {
    background-color: #CD5C5C;
}