.image {
    height: auto;
    border: none;
}

.image--left {
    max-width: 500px;
    border-radius: 0 50px 50px 0;
}

.image--right {
    max-width: 500px;
    border-radius: 50px 0 0 50px;
    margin-left: auto;
}

.image--top {
    max-width: 600px;
    margin-left: auto;
}

.image--bottom {
    max-height: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.image--gallery {
    max-width: 500px;
    line-height: 0;
    column-count: 2;
    column-gap: 5px;
}

.image--gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
}

.image-gallery-top-right {
    border-radius: 0 50px 0 0;
}

.image-gallery-bottom-right {
    border-radius: 0 0 50px 0;
}

.image-gallery-top-left {
    border-radius: 50px 0 0 0;
}

.image-gallery-bottom-left {
    border-radius: 0 0 0 50px;
}
