.image {
    height: auto;
    border: none;
    /*border-radius: 50px;*/
}

.image--left {
    max-width: 500px;
    border-radius: var(--border-radius-img);
}

.image--right {
    max-width: 500px;
    border-radius: var(--border-radius-img);
    margin-left: auto;
    /*max-height: 300px;*/
}

.image__top {
    max-width: 600px;
    margin-left: auto;
}

.image__top--no-margin {
    display: block;
    margin-top: 0;

}


.image--bottom {
    max-height: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.image--gallery {
    max-width: 500px;
    line-height: 0;
    column-count: 2;
    column-gap: 5px;
}

.image--gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
}

.image-gallery-top-right {
    border-radius: 0 50px 0 0;
}

.image-gallery-bottom-right {
    border-radius: 0 0 50px 0;
}

.image-gallery-top-left {
    border-radius: 50px 0 0 0;
}

.image-gallery-bottom-left {
    border-radius: 0 0 0 50px;
}
