.InfoSection {
    /*margin-bottom: 20px;*/
}

.gardens-overview {
    color: #22333B;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    /*gap: 0;*/
    gap: var(--gap-garden-items);
}

.InfoSection__user-details {
    margin-top: var(--gap-garden-items);
}