.dropdownField {
    overflow: hidden;
    margin-top: 2px;
    padding: var(--padding-form-item);
    border: var(--border-small);
    border-radius: 5px;
    width: var(--full-width);
    background-color: white;
    color: var(--dark-blue);
    font-size: 0.89rem;
}

.dropdownField:focus {
    outline-color: var(--green);
}

.dropdown-item--half {
    width: var(--width-form-half);
}

.dropdown-item--full {
    width: var(--full-width);
}