.h2--form {
    color: #22333B;
    margin: 50px auto 20px 10%;
}

/* form subtitle styling */
.h3--form {
    color: #CD5C5C;
    margin: 30px 0 10px 0;
    font-size: 24px;
}

.label--singleSelect {
    margin-top: 2px;
}