.inputField {
    margin-top: 2px;
    padding: var(--padding-form-item);
    border: var(--border-small);
    border-radius: 5px;
    width: var(--full-width);
    background-color: white;
    color: var(--dark-blue);
    font-size: 0.89rem;
}

.inputField--edit {
    width: auto;
}

.inputField:focus {
    outline-color: var(--green);
}

.input-error-message {
    font-weight: 200;
    font-style: italic;
    color: var(--red);
    font-size: 0.8rem;
}

.form-item--half {
    width: var(--width-form-half);
}

.form-item--full {
    width: var(--full-width);
}