/* Flex container overview columns */
.overview-container {
    color: #22333B;
    padding: 20px 20px 0 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px 20px;
}

.overview-item {
    color: #22333B;
    flex: 1 0 0;
    /*max-width: 550px;*/
    /*min-width: 250px;*/
    padding: 20px 20px 20px 10px;
    margin-bottom: 50px;
}

.overview-item:hover {
    background-color: rgba(241, 241, 239, 0.54);
}

.overview-item__subtitle {
    font-weight: 400;
}

.overview-container--white {
    color: black;
}

.overview-container--white h3 {
    color: #CD5C5C;
    font-weight: bolder;
}

.overview-container--white p {
    font-style: italic;
}

ul.overview-list {
    list-style-type: square;
    padding-left: 30px;
    text-align: left;
}

ul.overview-list li {
    padding-bottom: 10px;
}

.overview-item__img {
    width: 200px;
}

/*p.overview {*/
/*    text-align: justify;*/
/*}*/