.garden-item {
    background-color: var(--lightgrey);
    border-radius: var(--border-radius);
    padding: var(--padding-garden-item);
    width: var(--width-split-item);
    box-shadow: var(--box-shadow);
}

