.nav-bar {
    background-color: var(--dark-blue);
    box-sizing: border-box;
    /*overflow: hidden;*/
    height: var(--nav-height);
    padding: 0 var(--nav-hor-padding) 0 var(--nav-hor-padding);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*position: fixed;*/
    /*width: 100%;*/
    /*top: 0;*/
}

.nav-bar .icon {
    display: none;
}

.logo-container {
    width: 200px;
}