div.PageContainer {
 width: var(--fullvw-width);
 /*padding: var(--vert-padding) 0 var(--vert-padding) 0;*/
}

div.PageContainer--image {
 background: url("../../assets/achtergrond-groene-straat.jpg") rgba(0, 0 ,0, 0.4) center no-repeat fixed;
 background-size: cover;
 background-blend-mode: multiply;
 box-sizing: border-box;
 min-height: var(--full-height);
}

div.PageContainer--split {
 padding-top: var(--gap-items);
 padding-bottom: var(--gap-items);
}