/* Colored block settings */

.block {
    color: var(--white);
    border: none;
    border-radius: var(--block-radius);
    padding: var(--space-large);
    width: var(--width-split-item);
    margin-bottom: var(--gap-items);
}

.block--left {
    margin-right: auto;
}

.block--concept {
    background-color: var(--red);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block--right {
    margin-left: auto;
}

.block--center {
    padding-top: 20px;
    min-width: 600px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.block--profile {
    width: 400px;
}

.block--white {
    background-color: var(--white);
    color: var(--dark-blue);
    /*border: 5px solid var(--dark-blue);*/
}

.block--green {
    background-color: var(--green);
}

.block--red {
    background-color: var(--red);
}

.text-justified {
    text-align: justify;
}

.text-justified--block {
    color: var(--white);
    font-weight: var(--reg-font-weight);
    font-style: italic;
    margin-top: 10px;
}

