@import './assets/fonts/fonts.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #F1F1EF;
    background-color: #F1F1EF;
    width: 100vw;
    line-height: 1.5;
    /*height: 100vw;*/
}

h1 {
    font-family: 'Loved by the King', cursive;
    font-size: 55px;
    line-height: 1.4;
    margin-bottom: 5px;
}

h2 {
    font-size: 25px;
    margin-bottom: 5px;
}
