@import './assets/fonts/fonts.css';

* {
    margin: 0;
    padding: 0;
}

:root {
    /* colors: */
    --red: #CD5C5C;
    --dark-blue: #22333B;
    --green: #73956F;
    --white: #F1F1EF;
    --lightgrey: #E5E5E5;
    --yellow: #FFBA08;
    /* navigation bar */
    --nav-height: 80px;
    --nav-hor-padding: 15px;
    /* padding and margins */
    --vert-padding: 100px;
    --space-large: 60px;
    --space-medium: 40px;
    --space-small: 20px;
    --padding-garden-item: 40px;
    /*--padding-block: 60px;*/
    --padding-button: 25px;
    --gap-items: 50px;
    --gap-garden-items: 10px;
    --full-width: 100%;
    /* flex containers and items */
    --max-width: 1100px;
    --width-split-item: 450px;
    --width-center-item: 600px;
    /* decoration */
    --box-shadow: 3px 5px rgba(34, 51, 59, 0.25);
    --border-small: 1px solid black;
    --border-radius: 20px;
    --block-radius: 100px;
}

body, html {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #F1F1EF;
    background-color: #F1F1EF;
    width: 100vw;
    height: 100vh;
    line-height: 1.5;
    box-sizing: border-box;
    /*margin: 2rem;*/
}

h1 {
    font-family: 'Loved by the King', cursive;
    font-size: 3rem;
    line-height: 1.4;
    margin-bottom: 5px;
}

h2 {
    font-family: 'Loved by the King', cursive;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.67rem;
    text-transform: capitalize;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--green);
    font-size: 1.2rem;
    margin-bottom: 5px;
}

a {
    color: var(--red);
}

/* zet deze in styling van component!! */
a:hover {
    color: var(--lightgrey);
}

/* styling bullits numbered list */
ol {
    list-style: none;
    counter-reset: my-counter;
    /*max-width: 350px;*/
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
}

ol li {
    counter-increment: my-counter;
    margin: 0 0 1rem 0;
    position: relative;
    display: flex;
}

ol li:before {
    content: counter(my-counter) ". ";
    color: #22333B;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    margin-right: 20px;
}

/* Flex container split into two items *
.section--split {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0 50px;
}

/* Flex container centered */
.section--center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0 50px;
}

/* Flex items general settings */
.section-item {
    /*min-height: 400px;*/
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Flex items, two per row */
.section-item--split {
    width: 50%;
}

.section-item--split-top {
    width: 50%;
    margin-bottom: auto;
}

/* Flex items, one per row */
.section-item--center {
    margin: 0 10% 0 10%;
}

/* form styling */

/* form flex container*/
.form--container {
    color: black;
    font-weight: 800;
    border: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-left: 10%;
    /*margin-bottom: 10%;*/
    max-width: 500px;
}

.form--container-block {
    /*color: #F1F1EF;*/
    margin-left: 0;
    margin-bottom: 0;
    /*margin-right: auto;*/
}

/* form flex items*/
.form-item--half {
    width: calc(50% - 30px);
}

.form-item--full {
    width: 100%;
}

/* form label styling */
label {
    display: block;
}

/* form checkbox label styling */
.label--checkbox {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.label--checkbox-conditions {
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* form radio buttons label styling*/
.label--singleSelect {
    margin-top: 2px;
}

.value--singleSelect {
    font-weight: 400;
    display: flex;
    align-items: center;
}

/* form general input field styling */
.inputField {
    margin-top: 2px;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    color: #22333B;
    font-size: 16px;
}

.inputField--half {
    width: calc(50% - 30px);
}

/* form checkbox field styling */
input.checkbox {
    width: 50px;
    height: 20px;
    padding: 25px;
}

input.radioField {
    width: 50px;
    height: 20px;
    padding: 25px;
}

/* form file upload field styling */
input.fileUpload {
    margin-top: 2px;
    padding: 5px 15px 5px 15px;
    border: none;
    width: 100%;
    color: #22333B;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

input[type=file]::file-selector-button {
    border: 1px solid black;
    border-radius: 5px;
    padding: .2em .4em;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

input[type=file]::file-selector-button:hover {
    background-color: #ececec;
    border: 2px solid black;
}

/* form subtitle styling */
.h3--form {
    color: #CD5C5C;
    margin: 30px 0 10px 0;
    font-size: 24px;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
