@import './assets/fonts/fonts.css';

* {
    margin: 0;
    padding: 0;
}

:root {
    /* colors: */
    --red: #CD5C5C;
    --dark-blue: #22333B;
    --green: #73956F;
    --white: #F1F1EF;
    --lightgrey: #E5E5E5;
    --darkgrey: #BDBEBD;
    --yellow: #FFBA08;
    /* fonts */
    --reg-font-weight: 400;
    /* navigation bar */
    --nav-height: 80px;
    --nav-hor-padding: 15px;
    /* padding and margins */
    --vert-padding: 100px;
    --space-large: 60px;
    --space-medium: 40px;
    --space-small: 20px;
    --padding-garden-item: 40px;
    /*--padding-block: 60px;*/
    --padding-container: 0 20px 0 20px;
    --padding-button: 25px;
    --padding-button-narrow: 15px;
    --gap-items: 50px;
    --gap-garden-items: 10px;
    --full-width: 100%;
    /* flex containers and items */
    --fullvw-width: 100vw;
    --fullvh-height: 100vh;
    --full-height: calc(var(--fullvh-height) - var(--nav-height));
    --max-width: 1350px;
    --width-split-item: 450px;
    --width-center-item: 600px;
    --width-form-half: calc(50% - 30px);
    /* decoration */
    --box-shadow: 3px 5px rgba(34, 51, 59, 0.25);
    --border-small: 1px solid black;
    --border-radius: 20px;
    --border-radius-img: 50px;
    --block-radius: 100px;
}

body, html {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: var(--reg-font-weight);
    color: var(--white);
    background-color: var(--white);
    width: var(--fullvw-width);
    height: var(--full-height);
    line-height: 1.5;
    box-sizing: border-box;
    /*margin: 2rem;*/
}

h1 {
    font-family: 'Loved by the King', cursive;
    font-size: 3rem;
    line-height: 1.4;
    margin-bottom: 5px;
}

h2 {
    font-family: 'Loved by the King', cursive;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.67rem;
    text-transform: capitalize;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--green);
    font-size: 1.2rem;
    margin-bottom: 5px;
}

a {
    color: var(--red);
}

/* zet deze in styling van component!! */
a:hover {
    color: var(--lightgrey);
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
