
.register-container {
    background: url("../../assets/achtergrond-groene-straat.jpg") rgba(0, 0, 0, 0.4) center no-repeat fixed;
    background-size: cover;
    background-blend-mode: multiply;
    /* 100% of screen height - this padding container - height nav-bar - padding nav-bar */
    min-height: calc(100vh - 280px);
    padding: 100px 10% 100px 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 50px;
}

.section-item {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
}

.block-register {
    background-color: #F1F1EF;
    color: #73956F;
    border: none;
    border-radius: 150px 100px 150px 100px;
    padding: 60px;
}

.form--container {
    color: black;
    font-weight: 800;
    border: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.inputField {
    margin-top: 2px;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
    width: calc(100% - 30px);
    background-color: white;
    color: #22333B;
    font-size: 16px;
}

p.register {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 20px;
    width: max-content;
}

.arrow {
    margin-right: auto;
}